@page "/snackbar"

@implements IDisposable

@inject IMBSnackbarService SnackbarService


<style>
    .italic-class {
        font-style: italic;
    }
</style>


<DemonstrationPage DemoComponent="@this"
                   DetailedArticle="Snackbar"
                   Title="Snackbar Demonstration">
    <Description>
        <h2>Non-component</h2>
        <p>
            Demonstrates snackbar variations.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Basic Snackbars
                            </h2>

                            <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                                Shows the varieties of snackbar and managed timeout.
                            </h3>
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                            <p>
                                <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised"
                                          Label="Informative"
                                          @onclick="@(() => SnackbarService.ShowSnackbar(
                                                              message: "Can't send photo. Retry in 5 seconds."))"
                                          style="background-color: var(--mb-snackbar-background-color-info); color: var(--mb-snackbar-color-info); margin-bottom: 1rem;" />

                                <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised"
                                          Label="Actionable"
                                          @onclick="@(() => SnackbarService.ShowSnackbar(
                                                              message: "Can't send photo. Retry in 5 seconds.",
                                                              action: () => SnackbarService.ShowSnackbar("You clicked the action", timeout: 4000),
                                                              action_text: "retry"))"
                                          style="background-color: var(--mb-snackbar-background-color-success); color: var(--mb-snackbar-color-success); margin-bottom: 1rem;" />

                                <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised"
                                          Label="Undismissable"
                                          @onclick="@(() => SnackbarService.ShowSnackbar(
                                                              message: "Wait until I'm gone.",
                                                              dismiss_icon: false))"
                                          style="background-color: var(--mb-snackbar-background-color-warning); color: var(--mb-snackbar-color-warning); margin-bottom: 1rem;" />

                                <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised"
                                          Label="Leading"
                                          @onclick="@(() => SnackbarService.ShowSnackbar(
                                                              message: "I'm on the leading edge of the screen",
                                                              leading: true))"
                                          style="background-color: var(--mb-snackbar-background-color-warning); color: var(--mb-snackbar-color-warning); margin-bottom: 1rem;" />

                                <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised"
                                          Label="Stacked"
                                          @onclick="@(() => SnackbarService.ShowSnackbar(
                                                              message: "The action text is rather long, so the action icon is stacked",
                                                              action: () => SnackbarService.ShowSnackbar("You clicked the action", timeout: 4000),
                                                              action_text: "This text is really rather long",
                                                              stacked: true))"
                                          style="background-color: var(--mb-snackbar-background-color-error); color: var(--mb-snackbar-color-error); margin-bottom: 1rem;" />
                            </p>
                        </div>
                    </div>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Tailored Snackbars
                            </h2>

                            <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                                Shows how snackbars can be tailored through the ShowSnackbar method call.
                            </h3>
                        </div>
                        <div class="mdc-layout-grid__cell--span-4">
                            <MBSelect @bind-Value="@CssClass"
                                      Items="CssClassItems"
                                      ItemValidation="@MBItemValidation.DefaultToFirst"
                                      Label="Additional css class"
                                      SelectInputStyle="@MBSelectInputStyle.Outlined" />
                        </div>
                        <div class="mdc-layout-grid__cell--span-4">
                            <MBSelect @bind-Value="@Message"
                                      Items="messageItems"
                                      ItemValidation="@MBItemValidation.DefaultToFirst"
                                      Label="Message"
                                      SelectInputStyle="@MBSelectInputStyle.Outlined" />
                        </div>
                        <div class="mdc-layout-grid__cell--span-4">
                            <MBSelect @bind-Value="@Timeout"
                                      Items="timeoutItems"
                                      ItemValidation="@MBItemValidation.DefaultToFirst"
                                      Label="Timeout"
                                      SelectInputStyle="@MBSelectInputStyle.Outlined" />
                        </div>

                        <div class="mdc-layout-grid__cell--span-12">
                            <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised"
                                      Label="Snackbar with selected options"
                                      @onclick="@CustomiseClick" />
                        </div>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private string CssClass { get; set; }
    private readonly MBSelectElement<string>[] CssClassItems = new MBSelectElement<string>[]
    {
        new MBSelectElement<string> { SelectedValue = "", Label = "Snackbar Svc Default" },
        new MBSelectElement<string> { SelectedValue = "italic-class", Label = "Italic" },
                                            };


    private string Message { get; set; }
    private readonly MBSelectElement<string>[] messageItems = new MBSelectElement<string>[]
    {
        new MBSelectElement<string> { SelectedValue = "Run of the mill message", Label = "Run of the mill message" },
        new MBSelectElement<string> { SelectedValue = "Text <strong>bold</strong> and <u>underlined</u>", Label = "Message with markup" },
        new MBSelectElement<string> { SelectedValue = "Message truncated and truncated and truncated and truncated", Label = "Message that will be truncated" }
                                            };


    private string Timeout { get; set; }
    private readonly MBSelectElement<string>[] timeoutItems = new MBSelectElement<string>[]
    {
        new MBSelectElement<string> { SelectedValue = "", Label = "Snackbar Svc Default" },
        new MBSelectElement<string> { SelectedValue = "4000", Label = "4 seconds (minimum)" },
        new MBSelectElement<string> { SelectedValue = "10000", Label = "10 seconds (maximum)" },
        new MBSelectElement<string> { SelectedValue = "-1", Label = "disabled" }
                                            };


    private void CustomiseClick()
    {
        string appliedCssClass = (CssClass.Length == 0) ? null : CssClass;

        int? appliedTimeout = (Timeout.Length == 0) ? appliedTimeout = null : appliedTimeout = Convert.ToInt32(Timeout);

        SnackbarService.ShowSnackbar(
            message: Message,
            timeout: appliedTimeout);
    }


    private bool disposedValue;


    /// <inheritdoc/>
    /// <param name="disposing"></param>
    protected virtual void Dispose(bool disposing)
    {
        if (!disposedValue)
        {
            if (disposing)
            {
                SnackbarService.Configuration = Utilities.GetDefaultSnackbarServiceConfiguration();
            }

            // O: free unmanaged resources (unmanaged objects) and override finalizer
            // TODO: set large fields to null
            disposedValue = true;
        }
    }


    /// <inheritdoc/>
    public void Dispose()
    {
        // Do not change this code. Put cleanup code in 'Dispose(bool disposing)' method
        Dispose(disposing: true);
        GC.SuppressFinalize(this);
    }
}